.tile {
  background-color: #ecf0f1;
  border-radius: 8px;
  position: relative;
  width: 100%;
  aspect-ratio: 1;
}

.tile.highlight-spawn:hover,
.tile.highlight-action:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

.tile.level-0 {
  background-color: #444;
}

.tile.level-1 {
  background-color: #777;
}

.tile.level-2 {
  background-color: #bbb;
}

.tile.level-3 {
  background-color: #eee;
}

.highlight-spawn {
  outline: 3px solid #FF9800;
}
.highlight-action {
  outline: 3px solid #ff2600;
}
.highlight-win {
  outline: 3px solid #4CAF50;
}
.highlight-selected-worker {
  outline: 3px solid #0044ff;
}